<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- ... -->
        <setting name="cacheEnabled" value="false"/>
        <!-- cacheEnabled是二是级缓存的总开关，置为false代表关闭二级缓存 -->
        <setting name="localCacheScope" value="STATEMENT"/>
        <!-- localCacheScope是本地缓存（一级缓存）的作用域，只有两种取值：SESSION和STATEMENT，取STATEMENT意味着关闭一级缓存-->
        <!-- ... -->
    </settings>

</configuration>