<!DOCTYPE html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>>

<head>

  <div th:replace="common :: #head"/>
  <style>
    .aligncenter {
      clear: both;
      display: block;
      margin:auto;
      width: 300px;
      height: 400px;
      }
  </style>
</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <img src="/img/s.jpg" class="aligncenter">
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">重置密码</h1>
                  </div>
                  <form action="/user/reset" method="post" class="user">
                    <div class="form-group">
                      <input  name="username" type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="用户名">
                      <input  name="password" type="text" class="form-control form-control-user mt-2"  aria-describedby="emailHelp" placeholder="新密码">
                    </div>
                    <p style="color : red" th:text="${msg}"></p>
                    <input type="submit"  value="重置" class="btn btn-primary btn-user btn-block">

                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/register">创建账号</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/login">已有账号，前往登陆</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
